<% if admin_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Listing Descubres</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descripcion</th>
      <th>Liga</th>
      <th>Contenido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descubres.each do |descubre| %>
      <tr>
        <td><%= descubre.titulo %></td>
        <td><%= descubre.descripcion %></td>
        <td><%= descubre.liga %></td>
        <td><%= descubre.contenido %></td>
        <td><%= link_to 'Show', descubre %></td>
        <td><%= link_to 'Edit', edit_descubre_path(descubre) %></td>
        <td><%= link_to 'Destroy', descubre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Descubre', new_descubre_path %>
<br>
<%= link_to "Regresar", :back %>
<% end %>
