<% if admin_signed_in? %>

<p id="notice"><%= notice %></p>

<%= image_tag @slider.imagen.url %>

<p>
  <strong>Liga:</strong>
  <%= @slider.liga %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>

<% end %>
