<% if params[:locale] %>
		<% if params[:locale] == "en" %>
			<% clase_en = "activo" %>
			<% clase_es = "inactivo" %>
		<% else %>
			<% clase_en = "inactivo" %>
			<% clase_es = "activo" %>
		<% end %>
	<% else %>
		<% clase_en = "inactivo" %>
		<% clase_es = "activo" %>
	<% end %>

<div class="row">

	<nav class="navbar navbar-default">
	  <div class="container-fluid" id="contenedor_nav">

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="navbar-collapse" id="barra_nav">
	      <ul class="nav navbar-nav reajustable">
		<li class="nav_opciones idioma"><%= link_to "EN", {:controller => '/principal', :action => 'principal', :locale => 'en'}, :class => clase_en + " en" , :id => 'idioma_en' %> | <%= link_to "ES", {:controller => '/principal', :action => 'principal', :locale => 'sp'}, :class => clase_es + " sp" , :id=> 'idioma_sp' %></li>
		<li class="nav_opciones mail"><a href="#"><%= image_tag("mail.png") %><span class="borrable"><%= t('navbar.mail') %></span></a></li>
		<li class="nav_opciones intranet"><a href="#"><%= image_tag("intranet.png") %><span class="borrable"><%= t('navbar.intranet') %></span></a></li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
		<div class="form-group">
		  <input type="text" class="form-control" placeholder="">
		</div>
		<button type="submit" class="btn btn-default boton_lupa"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
					<li class="borrable"><%= link_to image_tag("fb-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("twitter-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("instagram-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("youtube-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("linkedin-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("itunes-color.png", :class => "img_net"), "#" %></li>
					<li class="borrable"><%= link_to image_tag("google-color.png", :class => "img_net"), "#" %></li>
					<li class="mostrable"><a href="#menu" class="uk-navbar-toggle" data-uk-offcanvas></a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</div> <!-- Cierre de div row barra nav -->

<div class="row"> <!-- Fila para logo -->
	<div class="col-md-12" id="div_logo"> <!-- Columnas para logo -->	
		<%= image_tag("colmex-principal.png", :id => "img_logo") %> 	
	</div> <!--Cierre de div columnas para logo -->
</div> <!-- Cierre de div fila para logo -->

<div class="row"> <!-- Fila para menú -->
	<div class="col-md-12" id="div_menu"> <!-- Columnas para menu -->
		<ul class="botones"> <!-- Opciones del menú -->
			<li class="dropdown" id="dropdown1">
        <a href="<%= sobre_el_colegio_url %>" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('botones.b1.texto') %></span></a>
          <ul class="dropdown-menu"">
            <li><a href="#"><%= t('botones.b1.opciones.op1') %></a></li>
            <li><a href="#"><%= t('botones.b1.opciones.op2') %></a></li>
            <li><a href="#"><%= t('botones.b1.opciones.op3') %></a></li>
            <li><a href="#"><%= t('botones.b1.opciones.op4') %></a></li>
            <li><a href="#"><%= t('botones.b1.opciones.op5') %></a></li>
            <li><a href="#"><%= t('botones.b1.opciones.op6') %></a></li>
          </ul>
      </li>

			<li class="dropdown" id="dropdown2">
        <a href="<%= centros_de_estudio_url %>" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('botones.b2.texto') %></span></a>
          <ul class="dropdown-menu" onmouseleave="quitarClases()">
            <li><a href="#">Centro de Estudios de Asia y África</a></li>
            <li><a href="#">Centro de Estudios Demográficos, Urbanos y Ambientales</a></li>
            <li><a href="#">Centro de Estudios Económicos</a></li>
            <li><a href="#">Centro de Estudios Históricos</a></li>
            <li><a href="#">Centro de Estudios Internacionales</a></li>
            <li><a href="#">Centro de Estudios Lingüísticos y Literarios</a></li>
            <li><a href="#">Centro de Estudios Sociológicos</a></li>
          </ul>
      </li>

			<li class="dropdown" id="dropdown3">
        <a href="<%= programas_academicos_url %>" class="dropdown-toggle" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span><%= t('botones.b3.texto') %></span></a>
          <ul class="dropdown-menu" onmouseleave="quitarClases()">
            <li><a href="#"><%= t('botones.b3.opciones.op1') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op2') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op3') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op4') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op5') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op6') %></a></li>
            <li><a href="#"><%= t('botones.b3.opciones.op7') %></a></li>
          </ul>
      </li>
			<li class="no-dropdown"><a href="#"><span><%= t('botones.b4') %></span></a></li>
			<li class="no-dropdown"><a href="#"><span><%= t('botones.b5') %></span></a></li>
		</ul> <!-- Cierre del menú -->
	</div> <!-- Cierre de columnas para menú -->
</div> <!-- Ciere de div fila para menú -->

	<!-- Menu lateral -->
	<div id="menu" class="uk-offcanvas"> <!-- Offcanvas -->
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip uk-accordion" data-uk-accordion>
			<h3 class="uk-accordion-title"><%= t('botones.b1.texto') %></h3>
			<div class="uk-accordion-content">
				<ul class="uk-nav uk-nav-offcanvas">
					<li><a href="#" class="sublink"><%= t('botones.b1.opciones.op1') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b1.opciones.op2') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b1.opciones.op3') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b1.opciones.op4') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b1.opciones.op5') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b1.opciones.op6') %></a></li>
				</ul>
			</div>
			<h3 class="uk-accordion-title"><%= t('botones.b2.texto') %></h3>
			<div class="uk-accordion-content">
				<ul class="uk-nav uk-nav-offcanvas">
					<li><a href="#" class="sublink">Centro de Estudios de Asia y África</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Demográficos, Urbanos y Ambientales</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Económicos</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Históricos</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Internacionales</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Lingüísticos y Literarios</a></li>
          <li><a href="#" class="sublink">Centro de Estudios Sociológicos</a></li>
				</ul>
			</div>
			<h3 class="uk-accordion-title"><%= t('botones.b3.texto') %></h3>
			<div class="uk-accordion-content">
				<ul class="uk-nav uk-nav-offcanvas">
					<li><a href="#" class="sublink"><%= t('botones.b3.opciones.op1') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op2') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op3') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op4') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op5') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op6') %></a></li>
          <li><a href="#" class="sublink"><%= t('botones.b3.opciones.op7') %></a></li>
				</ul>
			</div>
			<ul class="uk-nav uk-nav-offcanvas">
				<li><a href="#" class="uk-accordion-title"><%= t('botones.b4') %></a></li>
				<li><a href="#" class="uk-accordion-title"><%= t('botones.b5') %></a></li>
				<li>
					<ul class="nav navbar-nav navbar-left">
						<li><%= link_to image_tag("fb-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("twitter-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("instagram-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("youtube-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("linkedin-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("itunes-bco.png", :class => "img_net"), "#" %></li>
						<li><%= link_to image_tag("google-bco.png", :class => "img_net"), "#" %></li>
			    </ul>
				</li>
			</ul>
		</div>
	</div>

</div> <!-- Cierre de container-fluid -->
