<%= render 'principal/barra' %>
<%= include_gon %>

<div class="container-fluid" id="resto-cuerpo">
  <div id="cuerpo">
		<div class="row"> <!-- Fila para slider -->
				
			<div class="col-md-12" id="div_slider"> <!-- Columnas para slider -->
				<script type="text/javascript" src="/js/filtros.js"></script>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

			    <%= construye_slider(@sliders) %>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div> <!-- Cierre de slider -->
			</div> <!--Cierre de columnas slider -->
		</div> <!-- Cierre de row de slider -->

	<div class="row"> <!-- Fila para eventos -->
		<div class="col-md-12" id="div_eventos"> <!-- Columnas para eventos -->
			<div id="carouselEventos" class="carousel slide" data-ride="carousel" data-interval="false">

				<!-- Wrapper for slides -->
		    <div class="carousel-inner" id="render_eventos" role="listbox" >

		    </div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#carouselEventos" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a class="right carousel-control" href="#carouselEventos" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
				</a>
			</div> <!-- Cierre de slider -->


		</div> <!-- Cierre de columnas para eventos -->
	</div> <!-- Cierre de fila para eventos -->

	<div class="row"> <!-- Fila para botón de actividades -->
		<div class="col-md-12" id="div_actividades"> <!--Columnas para eventos -->
			<div id="boton_actividades">
				<a href="http://agenda.colmex.mx/Calendario" target="_blank" id="liga_actividades"><span><%= t('actividades.boton') %></span></a>
			</div>

		</div> <!-- Cierre de columnas para botón de actividades -->
	</div> <!-- Cierre de fila para boton actividades -->

	<div class="row"> <!-- Fila para formulario de suscripción -->
		<div class="col-md-12" id="div_suscripcion"> <!-- Columnas para formulario de suscripción -->

			<div id="boton_susc">
				<a href="http://listas.colmex.mx/?p=subscribe" target="_blank" id="liga_susc"><span><%= t('suscripcion.texto') %></span></a>
			</div>

			<% if false %>
			<form class="navbar-form navbar-left" role="search" id="forma_suscripcion" method="post" action="http://listas.colmex.mx/?p=subscribe" name="subscribeform" target="windowName" onsubmit="window.open('', this.target,
'dialog,modal,scrollbars=no,resizable=no,width=550,height=300,left=0,top=0');">
		    <div class="form-group">
					<div style="display:none;">
						<input type="text" name="VerificationCodeX" value size="20">
					</div>
					<input type="hidden" name="list[2]" value="signup">
					<input type="hidden" name="subscribe" value="Suscrito" />
					<input type="hidden" name="listname[2]" value="Agenda Colmex">
					<input type="hidden" name="htmlemail" value="1" checked>
					<input type="hidden" accept-charset="UTF-8" name="emailconfirm" value="" id="mailconf">
					<label for="text-suscripcion"><%= t('suscripcion.texto') %></label>
		      <%= '<input type="text" accept-charset="UTF-8" id="text-suscripcion" name="email" class="form-control" oninput="llenaConfirmacion(this.value);" placeholder='.html_safe + t('suscripcion.placeholder') + ">".html_safe %>
		    </div>
				<button type="submit" name="subscribe" value="Subscríbase a nuestra lista de correo Agenda Colmex" class="btn btn-default"><span><%= t('suscripcion.boton') %></span></button>
			</form>
			<% end %>
		</div> <!-- Cierre de columnas para formulario de suscripción -->
	</div> <!-- Cierre de fila para formulario de suscripción -->

	<div class="row"><!-- Fila para banners de presidencia -->
		<div class="col-md-12" id="div-banner-pres">
			<%= link_to image_tag("logo-red.png", class: "img-banner"), "http://desigualdades.colmex.mx/", target: "_blank" %>
		</div>
	</div>

	<div class="row"> <!-- Fila para "Descubre" -->
		<div class="col-md-12" id="div_descubre"> <!-- Columnas para "Descubre" -->
			<div class="titulo-descubre">
				<span class="titulo-grande morado"><%= t('descubre') %></span>
			</div>
			<div class="filtros-descubre">
				<% contenidos = Descubre.where("fecha_publicacion <= ? AND fecha_limite_pub >= ?", Date.current(), Date.current()).group(:contenido).order(:contenido) %>
				<% cont_plural, cont = [], [] %>
				<% contenidos.each do |c| %>
					<% cont_plural << pluralizar(c.contenido,(params[:locale] == "en" ? 1 : 0)) %>
					<% cont << c.contenido %>
				<% end %>
				<% contenidos = [] %>
				<% for i in 0..cont.length-1 %>
					<% contenidos << [cont_plural[i], cont[i]] %>
				<% end %>
				<span class="span-filtros"><%= t('filtro') %></span>
				<%= select_tag("contenido", options_for_select(contenidos), :include_blank => t('cat'), :onchange => "filtrarDescubres();") %>
				<%= text_field_tag("tags", "", :oninput => "filtrarDescubres();", :placeholder => t('cont')) %>
			</div>
			<div class="wrapper-descubre grid effect-6" id="wrapper">
				<%= construir_descubre(@descubre) %>
			</div>
			<div id="cutter-descubre" onclick="desbordarDescubres();">
				<%= t('mas') %> <%= image_tag("mas.png") %>
			</div>

		</div> <!-- Cierre de columnas para "Descubre" -->
	</div> <!-- Cierre de fila para "Descubre" -->

	<div class="row" id="wrapper-revista"> <!-- Fila para revistas -->
		<div class="col-md-12" id="div_revistas"> <!-- Columnas para revistas -->

			<div class="col-xs-6 col-md-3 revista" id="col-izq"><%= link_to(image_tag('revistas-der.png', :id => "img-pub"), "https://libros.colmex.mx/", :target => "_blank") %></div>

			<div class="col-xs-6 col-md-3 revista" id="col-ct">
				<%= link_to(image_tag('revistas-izq.png', :class => "rev-sm", :id => "img-rev-sm"), "http://revistas.colmex.mx/index.php", :target => "_blank") %>
				<%= link_to(image_tag('revistas-izq.png', :class => "rev-xs", :id => "img-rev-xs"), "http://revistas.colmex.mx/index.php", :target => "_blank") %>
			</div>
			<div class="col-xs-6 col-md-3 revista" id="col-der">
				<%= link_to(image_tag('revistas-centro.png', :class => "rev-sm", :id => "img-pred-sm"), "http://digital.colmex.mx/", :target => "_blank") %>
				<%= link_to(image_tag('revistas-centro.png', :class => "rev-xs", :id => "img-pred-xs"), "http://digital.colmex.mx/", :target => "_blank") %>
			</div>
			<div class="col-xs-6 col-md-3 revista" id="col-oia">
				<%= link_to(image_tag('oia.png', :id => "img-oia"), "http://oia.colmex.mx/", :target => "_blank") %>				
			</div>
		</div> <!-- Cierre de columnas para revistas -->
	</div> <!-- Cierre de fila para revistas -->

	<div class="row"> <!-- Fila para logos COLMEX -->
		<div id="wrapper-donacion">
			<div id="fundacion-colmex">
				<div id="div-donacion">
					<p><%= t('donacion.texto') %></p>
					<div class="contenedor-botones">
						<div class="boton" id="conocer">
							<a href="http://www.fundacioncolmex.org.mx/" target="_blank" class="boton-donar"><span><%= t('donacion.boton_conoce') %></span></a>
						</div>
						<div class="boton" id="donar">
							<a href="http://fundacioncolmex.org.mx/apoya" target="_blank" class="boton-donar"><span><%= t('donacion.boton_donar') %></span></a>
						</div>
					</div>
					<div class="contenedor-botones">
						<div class="boton" id="actualizar">
							<a href="http://fundacioncolmex.org.mx/actualizaDatos" target="_blank" class="boton-donar"><span><%= t('donacion.boton_act') %></span></a>
						</div>
					</div>
				</div>
				<div id="div-img-fundacion">
					<%= image_tag('fundacion-colmex.png') %>
				</div>
			</div>

			<div id="video-colmex">
				<script type="text/javascript" src="../js/lightbox.js"></script>
				<a href="
https://youtu.be/8V1zBV2ABmg" data-uk-lightbox data-lightbox-type="video">
					<%= image_tag((params[:locale] == "en" ? "video_eng.jpg" : "video.png")) %>
				</a>
			</div>
		</div>
	</div> <!-- Cierre de fila logos COLMEX -->

	<div class="row"> <!-- Fila para frase -->
		<div class="col-md-12" id="div_frase"> <!-- Columnas para frase -->
			<% if @frase.try(:cita) != nil %>
					<blockquote><%= image_tag('comilla-ini.png') %><span><%=  params[:locale] == "sp" ? @frase.try(:cita) : @frase.try(:cita_eng) %></span><%= image_tag('comilla-fin.png') %><br><br/></blockquote>
					<div style="margin:0 auto;width:65%;text-align:right"><strong><%= @frase.try(:autor) %></strong></div>
			<% end %>
		</div> <!-- Cierre de columnas para frase -->
	</div> <!-- Cierre de fila para frase -->

	<div class="row"> <!-- Fila para transparencia -->
		<div id="div_transparencia"> <!-- Columnas para transparencia-->
				<div style="display:inline-block;width:20%;float:left;position:relative;" id="div-inai">
				<%= link_to(image_tag('transp-izq.png', :id => "img-inai"), "http://inicio.ifai.org.mx/SitePages/ifai.aspx", :target => "_blank") %>
				</div>
				<div style="display:inline-block;width:40%;float:left;position:relative;" id="div-portal">
				<%= link_to(image_tag('portal-obligaciones-transparencia.jpg', :id => "img-transp"), "http://portaltransparencia.gob.mx/buscador/search/search.do?method=begin&searchBy=0&idDependenciaZoom=11120", :target => "_blank") %>
				</div>
				<div style="display:inline-block;width:20%;float:left;position:relative;" id="div-pnt">
				<%= link_to(image_tag('pnt-logo.jpg', :id => "img-pnt"), "https://www.infomex.org.mx/gobiernofederal/home.action", :target => "_blank") %>
				</div>
				<div style="display:inline-block;width:20%;float:left;position:relative;" id="div-cont">
				<%= link_to(image_tag('contraloria-social.png', :id => "img-cont"), "http://promepcm.colmex.mx/", :target => "_blank") %>
				</div>
		</div> <!-- Cierre de columnas para transparencia -->
	</div> <!-- Cierre de fila para transparencia -->

</div> <!-- Cierre del cuerpo -->

<%= render 'principal/footer' %>

<% content_for :meta_tags do %>
<meta property="og:url"                content="http://www.colmex.mx/" >
<meta property="og:url"                content="http://www.colmex.mx/?locale=sp" >
<meta property="og:url"                content="http://www.colmex.mx/?locale=en" >
<meta property="og:title"              content="El Colegio de México, A.C." />
<meta property="og:description"        content="El Colegio de México es una institución pública, de carácter universitario, dedicada a la investigación y a la enseñanza superior." />
<meta property="og:image"              content="http://www.colmex.mx/assets/slider/slide-4_original_5.png?1471284244" />
<meta property="fb:app_id"             content="322848414243" />
<% end %>
