<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">

<% if @editable %>
	<%= form_for(@sitio, :url => {:controller => "panel", :action => "editar", :params => {:set => "Contenido de sitios", :id => @sitio.id}, :uri => request.original_fullpath.gsub(/editable\//,"")}, :html => { :multipart => true }) do |f| %>
  	<% if @sitio.errors.any? %>
    	<div id="error_explanation">
      	<h2><%= pluralize(@sitio.errors.count, "error") %> impidieron generar este objeto:</h2>

      	<ul>
      	<% @sitio.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      	<% end %>
     	 </ul>
    	</div>
  	<% end %>

	<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

		<div class="uk-width-1-1">
		  <span class="titulo-grande"><%= t('footer.liga1') %></span><br>
		  <p>&nbsp;</p>
			<%= fields_for 'pars[]', @pars[0] do |p| %>
				<div class="field">
					<%= p.label (params[:locale] == "es" ? :texto : :texto_ingles), (params[:locale] == "es" ? ("Texto (Párrafo " + ((@pars[0].p_ind+1).to_s) + ")") : ("Texto (Inglés, párrafo " + ((@pars[0].p_ind+1).to_s) + ")")) %><br>
					<%= p.trix_editor (params[:locale] == "es" ? :texto : :texto_ingles), value: (params[:locale] == "es" ? @pars[0].texto.html_safe : @pars[0].texto_ingles.html_safe) %>
				</div>
			<% end %>
    </div> 

  <div class="actions">
    <%= f.submit "Guardar cambios" %>
  </div>

<% end %>
<% else %>

		<div class="uk-width-1-1">
		  <span class="titulo-grande"><%= t('footer.liga1') %></span><br>
		  <p>&nbsp;</p>
			<% if params[:locale] == "en" %>
		  <span class="titulo-grande vino"><%= t('sobre.principios.intro') %></span>
			<% end %>
		  <p><%= t('sobre.principios.p1') %></p>
			<% if params[:locale] == "en" %>
		  <p>&nbsp;</p>
		  <span class="titulo-grande vino"><%= t('sobre.principios.pron') %></span>
			<% end %>
			<% if params[:locale] == "en" %>
		  <ol>
				<li>
					<p><%= t('sobre.principios.p2') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.p3') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.p4') %></p>
				</li>
		  </ol>
			<% else %>
			<ul>
				<li>
					<p><%= t('sobre.principios.u1') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u2') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u3') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u4') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u5') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u6') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.u7') %></p>
				</li>
			</ul>
			<% end %>
    </div> 

<% end %>
	</div>

<%= render 'principal/footer' %>
