<%= render 'principal/barra' %>
<%= include_gon %>
<div class="container-fluid" id="resto-cuerpo">
  <div id="cuerpo">
		<div class="row"> <!-- Fila para slider -->
				
			<div class="col-md-12" id="div_slider"> <!-- Columnas para slider -->
				<script type="text/javascript" src="../js/ajustes_tamanio.js"></script>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

			    <%= construye_slider(@sliders) %>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Anterior</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Siguiente</span>
					</a>
				</div> <!-- Cierre de slider -->
			</div> <!--Cierre de columnas slider -->
		</div> <!-- Cierre de row de slider -->

	<div class="row"> <!-- Fila para eventos -->
		<div class="col-md-12" id="div_eventos"> <!-- Columnas para eventos -->
			<div id="carouselEventos" class="carousel slide" data-ride="carousel">

				<!-- Wrapper for slides -->
		    <div class="carousel-inner" id="render_eventos" role="listbox" >

		    </div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#carouselEventos" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Anterior</span>
				</a>
				<a class="right carousel-control" href="#carouselEventos" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Siguiente</span>
				</a>
			</div> <!-- Cierre de slider -->


		</div> <!-- Cierre de columnas para eventos -->
	</div> <!-- Cierre de fila para eventos -->

	<div class="row"> <!-- Fila para botón de actividades -->
		<div class="col-md-12" id="div_actividades"> <!--Columnas para eventos -->
			<div id="boton_actividades">
				<a href="#" target="_blank" id="liga_actividades"><span><%= t('actividades.boton') %></span></a>
			</div>

		</div> <!-- Cierre de columnas para botón de actividades -->
	</div> <!-- Cierre de fila para boton actividades -->

	<div class="row"> <!-- Fila para formulario de suscripción -->
		<div class="col-md-12" id="div_suscripcion"> <!-- Columnas para formulario de suscripción -->

			<form class="navbar-form navbar-left" role="search" id="forma_suscripcion">
		    <div class="form-group">
					<label for="text-suscripcion"><%= t('suscripcion.texto') %></label>
		      <%= '<input type="text" accept-charset="UTF-8" id="text-suscripcion" class="form-control" placeholder='.html_safe + t('suscripcion.placeholder') + ">".html_safe %>
		    </div>
				<button type="submit" class="btn btn-default"><span><%= t('suscripcion.boton') %></span></button>
			</form>
		</div> <!-- Cierre de columnas para formulario de suscripción -->
	</div> <!-- Cierre de fila para formulario de suscripción -->

	<div class="row"> <!-- Fila para revistas -->
		<div class="col-md-12" id="div_revistas"> <!-- Columnas para revistas -->
			<div class="col-xs-6 col-md-4 revista"><%= link_to(image_tag('revistas-der.png'), "
http://revistas.colmex.mx/", :target => "_blank") %></div>
			<div class="col-xs-6 col-md-4 revista"><%= link_to(image_tag('revistas-centro.png', :id => "img-pred"), "http://digital.colmex.mx/", :target => "_blank") %></div>
			<div class="col-xs-12 col-md-4 revista"><%= link_to(image_tag('revistas-izq.png'), "https://publicaciones.colmex.mx/index.php", :target => "_blank") %></div>
		</div> <!-- Cierre de columnas para revistas -->
	</div> <!-- Cierre de fila para revistas -->

	<div class="row"> <!-- Fila para "Descubre" -->
		<div class="col-md-12" id="div_descubre"> <!-- Columnas para "Descubre" -->
			<div class="titulo-descubre">
				<span class="titulo-grande morado"><%= t('descubre') %></span>
			</div>
			<div class="filtros-descubre">
				<%= select_tag("contenido", options_from_collection_for_select(Content.all, (:tipo).downcase, :tipo), :include_blank => "Todos", :onchange => "filtrarDescubres();") %>
				<%= text_field_tag("tags", "", :oninput => "filtrarDescubres();") %>
			</div>
			<div class="wrapper-descubre" id="wrapper">
				<%= construir_descubre(@descubre) %>
			</div>

		</div> <!-- Cierre de columnas para "Descubre" -->
	</div> <!-- Cierre de fila para "Descubre" -->

	<div class="row"> <!-- Fila para logos COLMEX -->
		<div id="wrapper-donacion">
			<div id="fundacion-colmex">
				<div id="div-donacion">
					<p><%= t('donacion.texto') %></p>
					<div id="contenedor-botones">
						<div class="boton" id="conocer">
							<a href="http://www.fondocolmex.org.mx/" target="_blank" class="boton-donar"><span><%= t('donacion.boton_conoce') %></span></a>
						</div>
						<div class="boton" id="donar">
							<a href="http://www.fondocolmex.org.mx/" target="_blank" class="boton-donar"><span><%= t('donacion.boton_donar') %></span></a>
						</div>
					</div>
				</div>
				<div id="div-img-fundacion">
					<%= image_tag('logo-fundacion-colmex.jpg') %>
				</div>
			</div>

			<div id="video-colmex">
				<script type="text/javascript" src="../js/lightbox.js"></script>
				<a href="
https://youtu.be/8V1zBV2ABmg" data-uk-lightbox data-lightbox-type="video">
					<%= image_tag("video.png") %>
				</a>
			</div>
		</div>
	</div> <!-- Cierre de fila logos COLMEX -->

	<div class="row"> <!-- Fila para frase -->
		<div class="col-md-12" id="div_frase"> <!-- Columnas para frase -->
			<% if @frase.try(:cita) != nil %>
					<blockquote><%=  @frase.try(:cita) %><br /><br/><strong><%= @frase.try(:autor) %></strong></blockquote>
			<% end %>
		</div> <!-- Cierre de columnas para frase -->
	</div> <!-- Cierre de fila para frase -->

	<div class="row"> <!-- Fila para transparencia -->
		<div class="col-xs-12" id="div_transparencia"> <!-- Columnas para transparencia-->
				<%= link_to(image_tag('transp-izq.png'), "http://inicio.ifai.org.mx/SitePages/ifai.aspx", :target => "_blank") %>
				<%= link_to(image_tag('transp-der.png'), "https://www.infomex.org.mx/gobiernofederal/home.action", :target => "_blank") %>
		</div> <!-- Cierre de columnas para transparencia -->
	</div> <!-- Cierre de fila para transparencia -->

</div> <!-- Cierre del cuerpo -->

<%= render 'principal/footer' %>
