<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">
		<div class="uk-width-1-1">
		  <span class="titulo-grande"><%= t('footer.liga1') %></span><br>
		  <p>&nbsp;</p>
		  <span class="titulo-grande vino"><%= t('sobre.principios.intro') %></span>
		  <p><%= t('sobre.principios.p1') %></p>
		  <p>&nbsp;</p>
		  <span class="titulo-grande vino"><%= t('sobre.principios.pron') %></span>
		  <ol>
				<li>
					<p><%= t('sobre.principios.p2') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.p3') %></p>
				</li>
				<li>
					<p><%= t('sobre.principios.p4') %></p>
				</li>
		  </ol>
    </div> 
	</div>

<%= render 'principal/footer' %>
