<%= render 'principal/barra' %>

<div class="container-fluid" id="resto-cuerpo">

	<div id="cuerpo" class="principal-chica uk-block-large">
	
	<span class="titulo-grande"><%= t('footer.liga6') %></span>
	<p>&nbsp;</p>
			<ul class="botones"> <!-- Opciones del menú -->
				<li>
		      <a class="uk-link"><span><%= t('botones.b1.texto') %></span></a>
		        <ul class="submenu">
							<li><a href=<%= sobre_el_colegio_path %>><%= t('botones.b1.texto2') %></a></li>
							<li><a href=<%= historia_path %>><%= t('botones.b1.opciones.op3') %></a></li>
		          <li><a href=<%= autoridades_path %>><%= t('botones.b1.opciones.op2') %></a></li>
							<li><a href="http://intranet.colmex.mx/directorio/" target="_blank"><%= t('botones.b1.opciones.op1') %></a></li>
		          <li><a href=<%= documentacion_path %>><%= t('botones.b1.opciones.op4') %></a></li>
		          <li><a href=<%= profesores_emeritos_path %>><%= t('botones.b1.opciones.op5') %></a></li>
		          <li><a href=<%= premios_path %>><%= t('botones.b1.opciones.op6') %></a></li>
		          <li><a href="http://agenda.colmex.mx/Convocatorias" target="_blank"><%= t('botones.b3.opciones.op8') %></a></li>
							<li><a href=<%= principios_path %> class="sublink"><%= t('footer.liga1') %></a></li>
							<li><a href=<%= transparencia_path %> class="sublink"><%= t('botones.b1.opciones.op9') %></a></li>
		        </ul>
		    </li>

				<li>
		      <a class="uk-link" href=<%= centros_de_estudio_path %>><span><%= t('botones.b2.texto') %></span></a>
		        <ul class="submenu">
		          <li><a href="http://ceaa.colmex.mx/" target="_blank">Centro de Estudios de Asia y África</a></li>
		          <li><a href="http://cedua.colmex.mx/" target="_blank">Centro de Estudios Demográficos, Urbanos y Ambientales</a></li>
		          <li><a href="http://cee.colmex.mx/" target="_blank">Centro de Estudios Económicos</a></li>
		          <li><a href="http://ceh.colmex.mx/" target="_blank">Centro de Estudios Históricos</a></li>
		          <li><a href="http://cei.colmex.mx/" target="_blank">Centro de Estudios Internacionales</a></li>
		          <li><a href="http://cell.colmex.mx/" target="_blank">Centro de Estudios Lingüísticos y Literarios</a></li>
		          <li><a href="http://ces.colmex.mx/" target="_blank">Centro de Estudios Sociológicos</a></li>
		        </ul>
		    </li>

				<li>
		      <a href=<%= programas_academicos_path %> class="uk-link"><span><%= t('botones.b3.texto') %></span></a>
		        <ul class="submenu">
		          <li><a href=<%= licenciaturas_path %>><%= t('botones.b3.opciones.op1') %></a></li>
		          <li><a href=<%= maestrias_path %>><%= t('botones.b3.opciones.op2') %></a></li>
		          <li><a href=<%= doctorados_path %>><%= t('botones.b3.opciones.op3') %></a></li>
		          <li><a href=<%= cursos_varios_path %>><%= t('botones.b3.opciones.op6') %></a></li>
		          <li><a href=<%= catedras_seminarios_path %>><%= t('botones.b3.opciones.op9') %></a></li>
		          <li><a href=<%= admisiones_path %>><%= t('botones.b3.opciones.op4') %></a></li>
		          <li><a href="http://oia.colmex.mx/" target="_blank"><%= t('botones.b3.opciones.op5') %></a></li>
		          <li><a href=<%= calendario_path %>><%= t('botones.b3.opciones.op7') %></a></li>
		        </ul>
		    </li>
				<li class="uk-link"><a href="http://biblioteca.colmex.mx/" target="_blank"><span><%= t('botones.b4') %></span></a></li>
				<li class="uk-link"><a href="http://libros.colmex.mx/" target="_blank"><span><%= "Publicaciones" %></span></a></li>
				<li class="uk-link"><a href=" http://agenda.colmex.mx/Inicio" target="_blank"><span><%= t('botones.b5') %></span></a></li>
			</ul> <!-- Cierre del menú -->
	</div>

<%= render 'principal/footer' %>
