<%= render 'principal/barra' %>

<div id="cuerpo">
	<div class="row">
		<div id="img-menus">
			<a href=<%= image_url("sobre.png") %> data-uk-lightbox data-lightbox-type="image">
				<%= image_tag("sobre.png", :class => "img-muestra") %>
			</a>
			<ul class="lista-links">
				<li><%= construir_link("bt-flechita.png","Liga 1","#","link-sobre") %></li>
				<li><%= construir_link("bt-flechita.png","Liga 2","#","link-sobre") %></li>
			</ul>
		</div>
		<div id="texto-sobre">
		</div>
	</div>
</div>

<%= render 'principal/footer'%>
