<% if admin_signed_in? %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @content.tipo %>
</p>

<p>
  <strong>Ícono:</strong>
  <%= image_tag @content.icono.url %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>

<% end %>
