<script type="text/javascript">initAddThis();</script>
<% @catedras.each do |cat| %>
	<div>
	<span class="titulo-chico vino"><%= params[:locale] == "en" ? cat.titulo_eng.gsub(/<\/?((div)|(p))>/,"").mb_chars.html_safe : cat.titulo.gsub(/<\/?((div)|(p))>/,"").mb_chars.html_safe %></span><br>
	<p><%= params[:locale] == "en" ? cat.descripcion_eng.gsub(/<\/?div>/,"").mb_chars.html_safe : cat.descripcion.gsub(/<\/?div>/,"").mb_chars.html_safe %></p>
	<a href=<%= cat.liga %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small"><%= params[:locale] == "en" ? "More information" : "Más información" %></a>
	<div class="addthis_inline_share_toolbox" data-url=<%= cat.liga %> data-title="<%= params[:locale] == "en" ? cat.titulo_eng.gsub(/<\/?((div)|(p))>/,"").mb_chars : cat.titulo.gsub(/<\/?((div)|(p))>/,"").mb_chars %>" style="display:inline-block; float: right;"></div>
	</div>
<% end %>
<script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57bb682464651c22"></script>
