<div class="acordeon-premios">
<script type="text/javascript" src="../js/accordion.js"></script>

<div class="uk-accordion" data-uk-accordion>
	<% @electronicos.group(:tipo_curso_linea).order(tipo_curso_linea: :desc).each do |t| %>
	  <h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", t.tipo_curso_linea + "s") %></h3>
	  <div class="uk-accordion-content">

	    <% @electronicos.where(:tipo_curso_linea => t.tipo_curso_linea).each do |e| %>

    <div class="uk-grid uk-grid-medium uk-margin-large-bottom">
    <div class="uk-width-1-5 uk-text-center">
    <img src=<%= e.foto.url %> class="uk-border-rounded" alt="Foto curso">
    </div>
    <div class="uk-width-4-5 uk-vertical-align-middle uk-text-left uk-text-break">
    <h2 class="vino"><%= e.titulo %></h2>
    <% if t.tipo_curso_linea != "Breve" %>
    <div class="uk-grid uk-grid-large">
    <div class="uk-width-large-4-6 uk-text-left">
    <% end %>
    <p><%= e.descripcion %></p>
    <% if e.imparte.to_s != "" %>
      <p class="uk-text-left">Impartido por <%= e.imparte %></p>
    <% end %>
    <% if !e.liga.nil? %>
      <a href=<%= e.liga %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Más información</a>
    <% end %>
    <% if t.tipo_curso_linea == "Breve" && !e.liga.nil? %>
      <div class="addthis_inline_share_toolbox" data-url=<%= e.liga %> data-title="<%= e.titulo %>" style="display:inline-block; float: right;"></div>
    <% end %>
    <% if t.tipo_curso_linea == "MOOC" %>
    </div>
    <div class="uk-width-large-2-6">
    <h3 class="vino uk-margin-bottom-remove">
    <% if !e.fecha_inicio_clases.nil? %>
      <% if e.fecha_fin_clases.nil? %>
        <%= "Inicio de clases:" %>
      <% else %>
        <%= "Duración:" %>
      <% end %>
    <% end %>
    </h3>
    <h4 class="uk-margin-top-remove">
      <% if !e.fecha_inicio_clases.nil? %>
        <%= (e.fecha_inicio_clases.day.to_s + " de " + num2Month(e.fecha_inicio_clases.month - 1)) || "" %>
        <% if e.fecha_fin_clases.nil? %>
          <%= (" de " + e.fecha_inicio_clases.year.to_s) || "" %>
        <% else %>
          <% if e.fecha_fin_clases.year != e.fecha_inicio_clases.year %>
            <%= (" de " + e.fecha_inicio_clases.year.to_s + " al " + e.fecha_fin_clases.day.to_s + " de " + num2Month(e.fecha_fin_clases.month - 1) + " de " + e.fecha_fin_clases.year.to_s ) || "" %>
          <% else %>
            <%= (" al " + e.fecha_fin_clases.day.to_s + " de " + num2Month(e.fecha_fin_clases.month - 1) + " de " + e.fecha_fin_clases.year.to_s ) || "" %>
          <% end %>
        <% end %>
      <% end %>
    </h4>
    <h3 class="vino uk-margin-bottom-remove">
    <% if !e.fecha_inicio_conv.nil? and !e.fecha_fin_conv.nil? %>
      <%= "Próxima convocatoria" %>
    <% end %>
    </h3>
    <h4 class="uk-margin-top-remove">
      <% if !e.fecha_inicio_conv.nil? %>
        <%= (e.fecha_inicio_conv.day.to_s + " de " + num2Month(e.fecha_inicio_conv.month - 1)) || "" %>
        <% if e.fecha_fin_conv.nil? %>
          <%= (" de " + e.fecha_inicio_conv.year.to_s) || "" %>
        <% else %>
          <% if e.fecha_fin_conv.year != e.fecha_inicio_conv.year %>
            <%= (" de " + e.fecha_inicio_conv.year.to_s + " al " + e.fecha_fin_conv.day.to_s + " de " + num2Month(e.fecha_fin_conv.month - 1) + " de " + e.fecha_fin_conv.year.to_s ) || "" %>
          <% else %>
            <%= (" al " + e.fecha_fin_conv.day.to_s + " de " + num2Month(e.fecha_fin_conv.month - 1) + " de " + e.fecha_fin_conv.year.to_s ) || "" %>
          <% end %>
        <% end %>
      <% end %>
    </h4>
    <h3 class="vino uk-margin-top-remove">
    <% if !e.fecha_fin_clases.nil? && e.fecha_fin_clases > Date.current() && e.tipo_curso_linea == "MOOC" && e.tipo_curso == "En línea" %>
      <%= "Convocatoria abierta" %>
    <% else %>
      <%= "Convocatoria cerrada" %>
    <% end %>
    </h3>
    <% if t.tipo_curso_linea == "MOOC" && !e.liga.nil? %>
      <div class="addthis_inline_share_toolbox" data-url=<%= e.liga %> data-title="<%= e.titulo %>"></div>
    <% end %>
    </div>
    </div>
    <% end %>
    </div>
    </div>

            <% end %>

          </div>
	<% end %>
</div>
</div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57bb682464651c22"></script>
