<% if @editable %>
<%= form_for(@sitio, :url => {:controller => "panel", :action => "editar", :params => {:set => "Contenido de sitios", :id => @sitio.id}, :uri => admisiones_path(params[:locale] = params[:locale])}, :html => { :multipart => true }) do |f| %>
  <% if @sitio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitio.errors.count, "error") %> impidieron generar este objeto:</h2>

      <ul>
      <% @sitio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

	<%= fields_for 'pars[]', @pars[0] do |p| %>
		<div class="field">
			<%= p.label (params[:locale] == "es" ? :texto : :texto_ingles), (params[:locale] == "es" ? ("Texto (Párrafo " + ((@pars[0].p_ind+1).to_s) + ")") : ("Texto (Inglés, párrafo " + ((@pars[0].p_ind+1).to_s) + ")")) %><br>
			<%= p.trix_editor (params[:locale] == "es" ? :texto : :texto_ingles), value: (params[:locale] == "es" ? @pars[0].texto.html_safe : @pars[0].texto_ingles.html_safe) %>
		</div>
	<% end %>

		  <h2 class="vino"><%= params[:locale] == "en" ? "Documentation:" : "Documentación:" %></h2>
		  <ul class="uk-list uk-list-space uk-margin-large-bottom">
		  <li><a href=<%= asset_path("nuevo-ingreso-licenciatura.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Students entering BA programs" : "Estudiantes de nuevo ingreso Licenciatura" %></a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-mexicanos.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Mexican students entering Master's and Doctoral Programs" : "Estudiantes Mexicanos de nuevo ingreso a Maestrías y Doctorados" %></a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-extranjeros.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Foreign students entering Master's and Doctoral Programs" : "Estudiantes Extranjeros de nuevo ingreso a Maestrías y Doctorados" %></a></li>
		  </ul>

<br>
<div class="actiones">
<%= f.submit "Guardar cambios" %>
</div>

<% end %>

<% else %>

<%= @pars[0].texto.html_safe %>

		  <h2 class="vino"><%= params[:locale] == "en" ? "Documentation:" : "Documentación:" %></h2>
		  <ul class="uk-list uk-list-space uk-margin-large-bottom">
		  <li><a href=<%= asset_path("nuevo-ingreso-licenciatura.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Students entering BA programs" : "Estudiantes de nuevo ingreso Licenciatura" %></a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-mexicanos.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Mexican students entering Master's and Doctoral Programs" : "Estudiantes Mexicanos de nuevo ingreso a Maestrías y Doctorados" %></a></li>
		  <li><a href=<%= asset_path("nuevo-ingreso-posgrados-extranjeros.pdf") %> target="_blank" class="uk-margin-large-bottom uk-link"><%= params[:locale] == "en" ? "Foreign students entering Master's and Doctoral Programs" : "Estudiantes Extranjeros de nuevo ingreso a Maestrías y Doctorados" %></a></li>
		  </ul>

<% end %>



