<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">

<div class="uk-grid uk-grid-large">
    <div class="uk-width-large-3-5 uk-text-left">
    <% @cursos.each do |curso| %>
    <h2 class="vino"><%= curso.titulo %></h2>
    <p class="uk-margin-large-bottom"><%= curso.descripcion %></p>
    <a href=<%= curso.liga %> target="_blank" class="ver-mas uk-margin-large-bottom">Más información</a>
    <p>&nbsp;</p>
		<% end %>
    </div>
    <div class="uk-width-large-2-5">
    <img src=<%= image_url("imagen.jpg") %> alt="Historia de El Colegio de México">
    </div>
    </div>

	</div>

<%= render 'principal/footer'%>
