<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">
	<div class="uk-width-1-1">
    <div class="uk-container-center"><img src=<%= image_url("doctorados-grande.jpg") %> alt="Historia de El Colegio de México"></div>
    <p>&nbsp;</p>
    <span class="titulo-grande">Doctorados</span><br>
    <!--          Aquí empiezan las licenciaturas          -->


	<% @doctorados.each do |doc| %>
    <h2 class="vino uk-margin-large-top">Doctorado en <%= doc.titulo %></h2>
    <div class="uk-grid uk-grid-large">
    <div class="uk-width-large-3-5 uk-text-left">
    <p><%= doc.descripcion %></p>
    <a href=<%= doc.liga %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Más información</a>
    </div>
    <div class="uk-width-large-2-5">
    <h3 class="vino uk-margin-bottom-remove">Inicio de la promoción</h3>
    <h4 class="uk-margin-top-remove"><%= l(doc.fecha_inicio_clases, format: :mes_anio ).capitalize %></h4>
    <h3 class="vino uk-margin-bottom-remove">Próxima convocatoria</h3>
    <h4 class="uk-margin-top-remove"><%= l(doc.fecha_inicio_conv, format: :mes_anio ).capitalize %></h4>
    </div>
    </div>
	<% end %>


    </div>
	
	</div>


<%= render 'principal/footer'%>
