<%= render 'principal/barra' %>

<div id="cuerpo">
	<div class="row">
		<div class="titular-pagina">
			<span class="titulo-grande"><%= t('botones.b3.texto') %></span>
		</div>
		<div id="seccion-lic">
			<div class="medio centro">
				<span class="titulo-chico"><%= t('botones.b3.opciones.op1') %></span>
			</div>
			<div class="medio-centro">
				<%= image_tag("sobre.png", :class => "img-muestra img-pa") %>
			</div>
		</div>

		<div id="seccion-mst">
			<div class="medio-centro">
				<%= image_tag("sobre.png", :class => "img-muestra img-pa") %>
			</div>
			<div class="medio centro">
				<span class="titulo-chico"><%= t('botones.b3.opciones.op2') %></span>
			</div>
		</div>

		<div id="seccion-doc">
			<div class="medio centro">
				<span class="titulo-chico"><%= t('botones.b3.opciones.op3') %></span>
			</div>
			<div class="medio-centro">
				<%= image_tag("sobre.png", :class => "img-muestra img-pa") %>
			</div>
		</div>

		<div id="seccion-cursos">
			<div class="medio-centro">
				<%= image_tag("sobre.png", :class => "img-muestra img-pa") %>
			</div>
			<div class="medio centro">
				<span class="titulo-chico"><%= t('botones.b3.opciones.op6') %></span>
			</div>
		</div>

	</div>
</div>

<%= render 'principal/footer'%>
