<%= form_for(@personal, :html => { :multipart => true }) do |f| %>
  <% if @personal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@personal.errors.count, "error") %> prohibited this personal from being saved:</h2>

      <ul>
      <% @personal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :seccion %><br>
<%= f.select(:seccion, options_for_select([['Junta de Gobierno','Junta'],['Presidencia','Presidencia'],['Centros de Estudios','Centros'],['Administración','Administración'],['Biblioteca','Biblioteca'],['Áreas operativas','Operativas']], @personal.seccion || 'Junta')) %>
  </div>
  <div class="field">
    <%= f.label :correo %><br>
    <%= f.text_field :correo %>
  </div>
  <div class="field">
    <%= f.label :foto %><br>
    <%= f.file_field :foto %>
  </div>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="field">
    <%= f.label :cargo %><br>
    <%= f.text_field :cargo %>
  </div>
  <div class="field">
    <%= f.label :depto %><br>
    <%= f.text_field :depto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
