<p>&nbsp;</p>
    <% @operativas.each do |o| %>
    <div class="uk-margin-large-bottom">
    <h4><%= o.depto.to_s.upcase || o.cargo.to_s.upcase %></h4>
    <h3 class="vino"><%= o.nombre %></h3>
    <p>Correo electrónico: <%= o.correo %></p>
    <p>Teléfono: <%= o.telefono %> Extensión: <%= o.extension %></p>
    </div>
    <% end %>
