<p>&nbsp;</p>
    <% @presidencias.each do |p| %>
    <div class="uk-grid uk-grid-medium uk-margin-large-bottom">
    <div class="uk-width-2-6 uk-text-center">
    <img src=<%= p.foto.url %> class="uk-border-rounded" alt="Foto miembro Presidencia">
    </div>
    <div class="uk-width-4-6 uk-vertical-align-middle uk-text-left uk-text-break">
    <h4><%= p.cargo %></h4>
    <h3 class="vino"><%= p.nombre %></h3>
    <p>Correo electrónico: <%= p.correo %></p>
    <p>Teléfono: <%= p.telefono %> Extensión: <%= p.extension %></p>
    </div>
    </div>
    <% end %>
