<%= render 'principal/barra' %>
<div class="container-fluid" id="resto-cuerpo">

	<div id="cuerpo" class="principal uk-block-large">
<div class="uk-width-1-1">
    <div class="uk-grid">
    <div class="uk-width-large-2-5 uk-text-left">
    <span class="titulo-chico">La historia de</span><br>
    <span class="titulo-grande">El Colegio de México</span>
    <%= image_tag("historia.jpg") %>
    </div>
    <div class="uk-width-large-3-5">
    <p>Para conocer los orígenes de El Colegio de México es necesario referirse a La Casa de España en México (1938-1940). Germen de El Colegio de México, refugio de intelectuales españoles republicanos, origen y logro de grandes obras académicas, renovadora de la cultura mexicana, por derecho propio ocupa un lugar eminente en el desarrollo científico de México. En marzo de 1939, el presidente Lázaro Cárdenas nombró a Alfonso Reyes presidente de La Casa de España y de su patronato. Este patronato quedó definitivamente formado por Eduardo Villaseñor, subsecretario de Hacienda, en representación del Gobierno; Gustavo Baz, rector de la Universidad Nacional; Enrique Arreguín, en nombre de la Secretaría de Educación Pública, y Daniel Cosío Villegas, como secretario del patronato y de La Casa, y segundo de a bordo.</p>
    <p>Los fundadores pusieron los sólidos cimientos sobre los cuales, a partir de octubre de 1940, se pudo edificar El Colegio de México. En primer lugar, Alfonso Reyes, quien, durante casi veinte años, hasta su muerte el 27 de diciembre de 1959, presidió de manera ininterrumpida e incansable esta gran obra cultural y académica. También fue decisivo el apoyo inteligente y enérgico de Daniel Cosío Villegas, secretario de El Colegio durante sus primeros años. Aunque desde 1948 la presencia de Cosío en la institución fue intermitente, pues compartió su enorme vitalidad y energía con varias otras actividades culturales y políticas, su influencia en El Colegio de México se intensificó durante un lustro, primero como director (1958-1959) y luego, a la muerte de Reyes, desde enero de 1960 hasta enero de 1963, como segundo presidente. En su presidencia se fundó el Centro de Estudios Internacionales.</p>
    </div>
    </div>
    <p>Silvio Zavala, tercer presidente de El Colegio de 1963 a 1966, durante muchos años fue miembro de aquel primer Colegio y, por derecho propio, debe ser considerado un fundador, pues en 1941 creó el Centro de Estudios Históricos, el más antiguo de esta institución. Durante sus breves años como presidente de El Colegio, Silvio Zavala dio continuidad a los planes trazados por Cosío Villegas para crear otros centros y ampliar la planta física.</p>
    <p>Víctor L. Urquidi presidió El Colegio desde 1966 hasta 1985. Fue responsable de la creación en 1964 del Centro de Estudios Económicos y Demográficos, y durante sus años como presidente fomentó el desarrollo de otros centros: el de Estudios Sociológicos, el de Economía,  un nuevo Centro de Estudios Demográficos y de Desarrollo Urbano,  el Centro de Estudios de Asia y África,  y varios programas de investigación incluyendo el Programa de Estudios de Género, que hoy se encuentra incorporado al Centro de Estudios Sociológicos.</p>
    <p>En 1976 Victor Urquidi supervisó la inauguración del hermoso y muy funcional edificio  en el cual reside actualmente, que ha recibido diversos reconocimientos y previos. El arquitecto fue Teodoro González de León.  Desde hace cinco decenios, la institución  ha incrementado su planta docente y administrativa de manera gradual, así como el número de investigadores y de becarios. Asimismo,  ha continuado con su prestigiado programa de publicaciones, con un total de más de millar de libros publicados.</p>
    <p>Mario Ojeda fue nombrado presidente de El Colegio de México el 20 de septiembre de 1985 y ejerció este cargo hasta el año de 1995. Miembro fundador del Centro de Estudios Internacionales, supervisó el funcionamiento de El Colegio de México y sus diversos centros con equilibrio y amabilidad. Le tocó una época difícil en términos de la economía nacional y la política nacional. Durante su gestión se hicieron importantes mejoras a la institución incluyendo la construcción del quinto nivel de oficinas, salones  y seminarios.</p>
    <p>Andrés Lira fue nombrado presidente de El Colegio de México en 1995, ocupando el cargo hasta septiembre de 2005. Durante su gestión, en 1998, se obtuvo la autonomía institucional; se puso en marcha El Consejo Académico -desde 2003- y se lograron importantes mejoras a la infraestructura del edificio, biblioteca y servicios generales, así como la fundación del Archivo histórico y administrativo de la institución. Asimismo durante su gestión se inauguran nuevos programas académicos.</p>
    <p>En diciembre de 2002 se aprobó el Estatuto Orgánico de El Colegio de México, que se ha renovado en varias oportunidades y puede consultar <a target="_blank" class="uk-link" href=<%= @estatuto_organico.archivo.url %>>aquí</a>.</p>
    <p>Javier Garciadiego Dantan fue nombrado presidente de El Colegio de México desde el 20 de septiembre de 2005 hasta el 19 de septiembre de 2015. En su gestión se mantuvo el alto nivel de desempeño de la institución en docencia, investigación y publicaciones.  Sepuso en marcha el Programa de Jubilaciones que ha permitido iniciar el cambio generacional en la planta docente y de investigación. Igualmente, bajo su mandato se inició el proceso de la construcción de una nueva y gran  ala muy moderna de su biblioteca que se inauguró en mayo de 2016.</p>
    <p>Silvia Elena Giorguli Saucedo es la actual Presidenta de El Colegio de México desde el 20 de septiembre de 2015.</p>
    <p>&nbsp;</p>
    <a href=<%= historia75_path %> target="_blank" class="ver-mas uk-margin-large-bottom uk-button-small">Ver más</a>
    </div> 
	</div>
<%= render 'principal/footer' %>
