<%= render 'principal/barra' %>

<div id="cuerpo">

	<div class="row">
		<div class="medio">
			<span class="titulo-grande">Premios y distinciones</span><br />
			<p>
				El Colegio de México felicita a los miembros de su comunidad que
	obtuvieron durante el año 2015 un reconocimiento especial,
	distinciones que ratifican el compromiso de esta institución con la
	excelencia académica, a la que consideramos el mejor camino para el
	progreso del país.
			</p>
		</div>
		<div class="medio">
			<%= image_tag("sobre.png", :class => "img-muestra") %>
		</div>
	</div>

	<div class="row">
		<div class="acordeon-premios">
		<script type="text/javascript" src="../js/accordion.js"></script>

			<div class="uk-accordion" data-uk-accordion>
				<% @categorias.each do |c| %>
					<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", c.nombre) %></h3>
					<div class="uk-accordion-content"><%= "Algo " + c.nombre %></div>
				<% end %>
				<!-- <h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", "Institucionales") %></h3>
				<div class="uk-accordion-content">Algo</div>

				<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", "Profesores eméritos") %></h3>
				<div class="uk-accordion-content">Algo2</div>

				<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", "Profesores-Investigadores") %></h3>
				<div class="uk-accordion-content">Algo3</div>
			
				<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", "Estudiantes") %></h3>
				<div class="uk-accordion-content">Algo4</div>

				<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", "Egresados") %></h3>
				<div class="uk-accordion-content">Algo5</div> -->
			</div>
		</div>
	</div>

</div>

<%= render 'principal/footer' %>
