
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal uk-block-large">
	<div class="uk-width-1-1">
	    <span class="titulo-grande">El Colegio de México en sus 75 años: 1940-2015</span><br>
    <span class="titulo-chico">por Clara E. Lida</span><br>
    <span class="titulo-chico">Centro de Estudios Históricos</span>
    <div class="uk-container-center uk-block"><%= image_tag("75-encabezado.jpg") %></div>
    <div class="uk-grid uk-grid-medium">
    <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-small-2-5 uk-text-left">
    <%= image_tag("daniel-cosio-villegas.jpg") %><br>
    <h6 class="uk-text-break">Daniel Cosío Villegas</h6>
    </div>
    <div class="uk-width-large-7-10 uk-width-medium-7-10 uk-width-small-3-5">
    <p>El 8 de octubre de 1940, el patronato de La Casa de España se reunió para elaborar “las bases constitutivas y estatutos” que darían nacimiento legal a El Colegio de México. Ocho días después, el 16 de octubre, después de ser leída, se firmaba formalmente el acta constitutiva que regiría la vida jurídica de la nueva institución, cuando su antecesora La Casa de España, creada en 1938 por iniciativa del presidente Lázaro Cárdenas para acoger temporalmente a destacados científicos, académicos y artistas amenazados por la Guerra Civil y luego por el franquismo, se transformó en una institución de altos estudios. Desde entonces, durante siete decenios y medio, con el apoyo presupuestario del Estado y proyectos con fundaciones mexicanas e internacionales, El Colegio ha mantenido ininterrumpidamente sus labores, convirtiéndose en uno de los centros de investigación y docencia más destacados en el mundo hispánico, por lo cual ha recibido numerosos reconocimientos. Por ejemplo, en 2001, El Colegio fue galardonado con el Premio Príncipe de Asturias en Ciencias Sociales, por la excelencia y prestigio adquiridos a lo largo de los años.</p>
		<p>Si la figura de Lázaro Cárdenas dominó los orígenes, la gestión del proyecto cultural se debió a dos grandes hombres de letras mexicanos, que lo presidieron de manera sucesiva: Alfonso Reyes y Daniel Cosío Villegas. Ellos dirigieron La Casa y pusieron los cimientos de El Colegio que hoy conocemos. Los primeros veinte años fueron materialmente modestos: durante su primer lustro, para poder funcionar, la institución pidió prestados despachos en la sede del Fondo de Cultura Económica, que dirigía Cosío Villegas; después pasó de una casa alquilada a otra, hasta que logró tener un edificio propio al comenzar la década de 1960.</p>
    <p>&nbsp;</p>
    </div>
    <div class="uk-width-large-8-10 uk-width-medium-8-10 uk-width-small-4-6">
    <p>A pesar de las estrecheces, el 14 de abril de 1941 se fundó el primer centro, el de Estudios Históricos (CEH), bajo la dirección del mexicano Silvio Zavala (Premio Príncipe de Asturias, 1993); diez años más tarde, Daniel Cosío creó la revista <i>Historia Mexicana</i>.</p>
    <p>A instancias de Reyes, presidente hasta 1959, el filólogo argentino Raimundo Lida fundó en 1947 la <i>Nueva Revista de Filología Hispánica</i> y al año siguiente el Centro que después se llamaría de Estudios Lingüísticos y Literarios (CELL). En los años siguientes, El Colegio delineó su orientación futura: la investigación y la docencia en las humanidades y las ciencias sociales. Al iniciar la década de 1960, Cosío, como presidente (1959-1962), fundó la revista <i>Foro Internacional</i> (1960), antecedente del que un año después sería el Centro de Estudios Internacionales (CEI). El Colegio se fue expandiendo hacia nuevas áreas de conocimiento y docencia, tanto licenciaturas como posgrados (maestrías y doctorados), pues en noviembre de 1962 se firmó el decreto presidencial que confería a El Colegio el derecho de otorgar y expedir sus propios grados y títulos académicos.</p>
    <p>En adelante, dos presidentes sentaron las bases de un mayor desarrollo: el historiador Silvio Zavala (1963-1966) y el economista Víctor Urquidi (1966-1985). Bajo el impulso del primero se pusieron los cimientos para la creación el actual Centro de Estudios de Asia y África (CEAA), y con el apoyo de Víctor Urquidi se sentaron las bases para establecer los centros de Estudios Económicos (CEE) y el de Estudios Demográficos, Urbanos y Ambientales (CEDUA). Todos ellos con sendas revistas académicas de excelencia.</p>
<p>&nbsp;</p>
    </div>
    <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-2-6  uk-text-left">
    <%= image_tag("alfonso-reyes.jpg") %><br>
    <h6 class="uk-text-break">Alfonso Reyes</h6>
    </div>
    <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-small-2-5  uk-text-left">
    <%= image_tag("75aniversario-2.png") %><br>
    <h6 class="uk-text-break">Edificio de El Colegio de México en la Plaza Río de Janeiro, Colonia Roma</h6>
    </div>
    <div class="uk-width-large-7-10 uk-width-medium-7-10 uk-width-small-3-5">
    <p>Bajo la presidencia de Urquidi se consolidaron los proyectos anteriores y en 1973 se creó el Centro de Estudios Sociológicos (CES), bajo la batuta certera de Rodolfo Stavenhagen. Diez años después, al igual que los demás centros, el CES publicó la revista <i>Estudios Sociológicos</i>.</p>
		<p>En esos años también se fueron creando varios programas y proyectos específicos, integrados hoy a los diversos centros; de éstos ofrecen títulos de posgrado el de Formación de Traductores y el Interdisciplinario de Estudios de la Mujer. Desde sus orígenes, El Colegio se preocupó por tener una biblioteca especializada en las áreas de docencia e investigación, y es actualmente la más importante de México en humanidades y ciencias sociales. Éste es el centro neurálgico de la institución. También bajo la presidencia de Urquidi se crearon una Dirección de Publicaciones y una Unidad de Cómputo. En las últimas dos décadas otros presidentes continuaron la supervisión de la labor de excelencia institucional: Mario Ojeda (1985-1995), Andrés Lira (1995-2005) y Javier Garciadiego (2005-2015). A partir del 21 de septiembre de 2015, Silvia Giorguli asumió la Presidencia de El Colegio hasta 2020.</p>
    <p>En la actualidad, El Colegio cuenta con casi quinientos alumnos de tiempo completo, la mayoría becarios en posgrados de excelencia, y unos trescientos profesores-investigadores e investigadores de proyecto, todos sujetos a rigurosos mecanismos de evaluación académica. La proporción de estudiantes y profesores permite una relación estrecha entre ambos, conducente a la sólida formación de jóvenes investigadores. Además, existe un cuerpo administrativo de apoyo a las labores cotidianas de la institución.</p>
    <p>&nbsp;</p>
    </div>
    <div class="uk-width-large-8-10 uk-width-medium-8-10 uk-width-small-4-6">
    <p>En conclusión, desde sus orígenes en 1940 hasta ahora, esta pequeña institución, especializada en ciertas áreas del conocimiento humanístico y de las ciencias sociales, es un ejemplo vivo de compromiso intelectual y académico con la creación y trasmisión de conocimientos en las diversas áreas de docencia e investigación que desarrolla. El prestigio ganado es un homenaje a las mujeres y hombres que desde los primeros pasos de La Casa de España hasta la actualidad han pasado por sus aulas enseñando y aprendiendo, y forjando como investigadores un importante corpus científico de primera importancia, testimonio de su compromiso y quehacer cotidianos.</p>
    <p>&nbsp;</p>
		<% if false %>
    <a href="http://www.colmex.mx/archivo-historico" target="_blank" class="ver-mas">Archivo Histórico</a>
		<% end %>
    </div>
    <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-2-6  uk-text-left">
    <%= image_tag("75aniversario-5.png") %><br>
    <h6 class="uk-text-break">Edificio de El Colegio de México en Guanajuato 125, Colonia Roma</h6>
    </div>
    </div>
    <hr style="border: 1px solid #7E3355">
    <p style="font-size:14px">[Sobre esta historia se puede consultar: Clara E. Lida, José Antonio Matesanz y Josefina Z. Vázquez: <i>La Casa de España y El Colegio de México. Memoria 1938-2000</i>. México: El Colegio de México, 2000].</p>
    <p style="font-size:14px">2015 © El Colegio de México, A.C.
</p>
	</div>
	</div>

