
<div class="container-fluid" id="resto-cuerpo">

	<div id="cuerpo" class="principal uk-block-large">
<div class="uk-width-1-1">
    <div class="uk-grid">
    <div class="uk-width-large-2-5 uk-text-left">
    <div>
    <span class="titulo-chico"><%= t('historia.historia') %></span><br>
    <span class="titulo-grande">El Colegio de México</span>
    </div>
    <%= image_tag(@pics[0].foto.url, :style=> "margin-bottom:25px;") %>
    </div>
    <div class="uk-width-large-3-5">
		<%= params[:locale] == "es" ? @pars[0].texto.html_safe : @pars[0].texto_ingles.html_safe %>
    </div>
    </div>
		<%= params[:locale] == "es" ? @pars[1].texto.html_safe : @pars[1].texto_ingles.html_safe %>
    <p>&nbsp;</p>
    <a href=<%= historia75_path %> class="ver-mas uk-margin-large-bottom uk-button-medium"><%= t('historia.ver') %></a>
    </div> 
	</div>

