
<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal uk-block-large">
	<div class="uk-width-1-1">
	    <span class="titulo-grande">El Colegio de México en sus 75 años: 1940-2015</span><br>
    <span class="titulo-chico">por Clara E. Lida</span><br>
    <span class="titulo-chico">Centro de Estudios Históricos</span>
    <div class="uk-container-center uk-block"><%= image_tag(@pics[0].foto.url) %></div>
    <div class="uk-grid uk-grid-medium">
    <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-small-2-5 uk-text-left">
    <%= image_tag(@pics[1].foto.url) %><br>
    <h6 class="uk-text-break"><%= @pics[1].caption.html_safe %></h6>
    </div>
    <div class="uk-width-large-7-10 uk-width-medium-7-10 uk-width-small-3-5">
    <%= @pars[0].texto %>
    <p>&nbsp;</p>
    </div>
    <div class="uk-width-large-8-10 uk-width-medium-8-10 uk-width-small-4-6">
    <%= @pars[1].texto %>
<p>&nbsp;</p>
    </div>
    <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-2-6  uk-text-left">
    <%= image_tag(@pics[2].foto.url) %><br>
    <h6 class="uk-text-break"><%= @pics[2].caption %></h6>
    </div>
    <div class="uk-width-large-3-10 uk-width-medium-3-10 uk-width-small-2-5  uk-text-left">
    <%= image_tag(@pics[3].foto.url) %><br>
    <h6 class="uk-text-break"><%= @pics[3].caption %></h6>
    </div>
    <div class="uk-width-large-7-10 uk-width-medium-7-10 uk-width-small-3-5">
    <%= @pars[2].texto %>
    <p>&nbsp;</p>
    </div>
    <div class="uk-width-large-8-10 uk-width-medium-8-10 uk-width-small-4-6">
    <%= @pars[3].texto %>
    <p>&nbsp;</p>
		<% if false %>
    <a href="http://www.colmex.mx/archivo-historico" target="_blank" class="ver-mas">Archivo Histórico</a>
		<% end %>
    </div>
    <div class="uk-width-large-2-10 uk-width-medium-2-10 uk-width-small-2-6  uk-text-left">
    <%= image_tag(@pics[4].foto.url) %><br>
    <h6 class="uk-text-break"><%= @pics[4].caption %></h6>
    </div>
    </div>
    <hr style="border: 1px solid #7E3355">
    <div style="font-size:14px">
			<%= @pars[4].texto %>
		</div>
	</div>
	</div>

