<%= form_for(@sitio, :url => {:controller => "panel", :action => "editar", :params => {:set => "Contenido de sitios", :id => @sitio.id}, :uri => request.original_fullpath.gsub(/editable\/presidencia/,"autoridades")}, :html => { :multipart => true }) do |f| %>
  <% if @sitio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sitio.errors.count, "error") %> impidieron generar este objeto:</h2>

      <ul>
      <% @sitio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

<% if @editable %>
	<% i = 0 %>

	<h3>Presidencia</h3>
	<% @presidencias.each do |d| %>
		<%= fields_for "listings[]", @listings[i] do |l| %>
			<div class="wrapper-links-doc">
				<%= l.hidden_field :ord_index, value: i %>
				<%= l.select(:list_id,options_for_select(@presidencias.map{|d| [d.nombre.gsub(/<(\/)?div>/,"").html_safe,d.id]}, @listings[i].list_id || @presidencias[i].id), {}, {}) %>
			</div>
			<% i = i + 1 %>
		<% end %>
	<% end %>
	<br>
	<% j = 0 %>
	<h3>Investigadores asociados a centros</h3>
	<% @profs_centros.each do |d| %>
		<%= fields_for "listings[]", @listings[i] do |l| %>
			<div class="wrapper-links-doc">
				<%= l.hidden_field :ord_index, value: i %>
				<%= l.select(:list_id,options_for_select(@profs_centros.map{|d| [d.nombre.gsub(/<(\/)?div>/,"").html_safe,d.id]}, @listings[i].list_id || @profs_centros[j].id), {}, {}) %>
			</div>
			<% i = i + 1 %>
			<% j = j + 1 %>
		<% end %>
	<% end %>
	<br>
	<% j = 0 %>
	<h3>Investigadores en proyectos específicos</h3>
	<% @asociados.each do |d| %>
		<%= fields_for "listings[]", @listings[i] do |l| %>
			<div class="wrapper-links-doc">
				<%= l.hidden_field :ord_index, value: i %>
				<%= l.select(:list_id,options_for_select(@asociados.map{|d| [d.nombre.gsub(/<(\/)?div>/,"").html_safe,d.id]}, @listings[i].list_id || @asociados[j].id), {}, {}) %>
			</div>
			<% i = i + 1 %>
			<% j = j + 1 %>
		<% end %>
	<% end %>

<% else %>

	<% @sitio = Sitio.where("ref = ? ","Autoridades (presidencia)").first %>
	<% @lists = Listing.where("sitio_id = ?",@sitio.id).order(:ord_index).pluck(:list_id) %>
	<% @it = @presidencias.size %>
	<% @it2 = @profs_centros.size %>
	<% @it3 = @asociados.size %>


<% @it.times do |i| %>
	<% p = Personal.find(@lists[i]) %>
<div class="uk-grid uk-grid-medium uk-margin-large-bottom">
	<div class="uk-width-2-6 uk-text-center">
		<img src=<%= p.foto.url %> class="uk-border-rounded" alt="Foto miembro Presidencia">
	</div>
	<div class="uk-width-4-6 uk-vertical-align-middle uk-text-left uk-text-break">
		<h4><%= (params[:locale] == "es" ? p.cargo.mb_chars.upcase : p.cargo_eng.mb_chars.upcase ) %></h4>
		<h3 class="vino"><%= p.nombre %></h3>
		<p class="izq-align"><%= t('sobre.autoridades.correo') %>: <a class="uk-link" href="mailto:<%= p.correo %>"><%= p.correo %></a></p>
		<p class="izq-align"><%= t('sobre.autoridades.tel') %>: <%= p.telefono %></p>
		<p class="izq-align"><%= t('sobre.autoridades.ext') %>: <%= p.extension %></p>
	</div>
</div>
<% end %>

<script type="text/javascript" src="../js/accordion.js"></script>
		<div class="acordeon-premios">
			<div class="uk-accordion" data-uk-accordion>
				<h3 class="uk-accordion-title"><%= construir_encabezado("bt-flechita.png", "bt-flechita-abajo.png", t('sobre.autoridades.encabezado_pres')) %></h3>
				<div class="uk-accordion-content">
					<h2 class="vino" style="margin-bottom:15px;"><%= t('sobre.autoridades.sub_ce') %></h2>
					<% @it2.times do |i| %>
						<% a = Personal.find(@lists[@it + i]) %>
					<div class="uk-grid uk-grid-medium uk-margin-large-bottom">
						<div class="uk-width-1-1 uk-vertical-align-middle uk-text-left uk-text-break">
							<h4 style="margin-bottom:0;"><%= a.nombre %></h4>
							<h5 class="vino" style="margin-top:0;"><%= (params[:locale] == "es" ? a.cargo.html_safe : a.cargo_eng.html_safe ) %></h5>
						</div>
					</div>
					<% end %>
					<h2 class="vino" style="margin-top:15px;margin-bottom:15px;"><%= t('sobre.autoridades.sub_inv') %></h2>
					<% @it3.times do |i| %>
					<% a = Personal.find(@lists[@it + @it2 + i]) %>
					<div class="uk-grid uk-grid-medium uk-margin-large-bottom">
						<div class="uk-width-1-1 uk-vertical-align-middle uk-text-left uk-text-break">
							<h4 style="margin-bottom:0;"><%= a.nombre %></h4>
							<h5 class="vino" style="margin-top:0;"><%= (params[:locale] == "es" ? a.cargo.html_safe : a.cargo_eng.html_safe ) %></h5>
						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>

<% end %>

<% if @editable %>
<div class="actions">
	<%= f.submit "Guardar cambios" %>
</div>

<% end %>
<% end %>
