    <% @bibliotecas.each do |b| %>
    <div class="uk-margin-large-bottom">
    <h4><%= (params[:locale] == "sp" ? b.depto.mb_chars.upcase : b.depto_eng.mb_chars.upcase) %></h4>
    <h3 class="vino"><%= b.nombre %></h3>
    <p class="izq-align"><%= t('sobre.autoridades.correo') %> <a class="uk-link" href="mailto:<%= b.correo %>"><%= b.correo %></a></p>
    <p class="izq-align"><%= t('sobre.autoridades.tel') %>: <%= b.telefono %></p>
    <p class="izq-align"><%= t('sobre.autoridades.ext') %>: <%= b.extension %></p>
    </div>
    <% end %>

