<%= render 'principal/barra' %>

<%= include_gon %>

<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo">

		<div class="row" id="filtros-dir">
			<div class="col-md-4 filtro center" id="filtro-nombre">
				<%= text_field_tag("nombre", "", :oninput => "filtrarDirectorio();", :placeholder => "Nombre") %>
			</div>
			<div class="col-md-4 center" id="filtro-mail">
				<%= text_field_tag("correo", "", :oninput => "filtrarDirectorio();", :placeholder => "Correo") %>
			</div>
			<div class="col-md-4 center" id="filtro-linea">
				<%= text_field_tag("linea", "", :oninput => "filtrarDirectorio();", :placeholder => "Línea de investigación") %>
			</div>
		</div>
		<div class="row" style="width:70%;margin:0 auto;">
			<div class="col-xs-12 center" id="filtro-centro">
				<%= select_tag("contenido", options_for_select([["CEAA", "Asia y África"], ["CEDUA","Demográficos, Urbanos y Ambientales"], ["CEE", "Económicos"], ["CEH","Históricos"], ["CEI","Internacionales"], ["CELL", "Lingüísticos y Literarios"], ["CES","Sociológicos"]]), :include_blank => "Centro de Estudios", :onchange => "filtrarDirectorio();") %>
			</div>
		</div>

		<div class="row">
			<script type="text/javascript" src="../js/accordion.js"></script>
			<div class="col-xs-12" id="busqueda">
				<div class="uk-accordion" data-uk-accordion>
				<%= construir_docentes(@academicos) %>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" src="../js/filtro_directorio.js"></script>
<%= render 'principal/footer' %>
