var prof_html = '<div class="uk-accordion" id="acordeon" data-uk-accordion>';
<% centros = {'CEAA' => 'DE ASIA Y ÁFRICA', 'CEDUA' => 'DEMOGRÁFICOS, URBANOS Y AMBIENTALES', 'CEE' => 'ECONÓMICOS', 'CEH' => 'HISTÓRICOS', 'CEI' => 'INTERNACIONALES', 'CELL' => 'LINGÜÍSTICOS Y LITERARIOS', 'CES' => 'SOCIOLÓGICOS', 'Jubilado' => 'PROGRAMA DE ESTUDIOS INTERDISCIPLINARIOS', 'BDCV' => 'BIBLIOTECA DANIEL COSÍO VILLEGAS'} %>
<% @profs.each do |p| %>
						prof_html = prof_html + '<h3  class="uk-accordion-title"><%= image_tag("bt-flechita.png", :class => "leave_img") + image_tag("bt-flechita-abajo.png", :class => "hover_img") + raw(p.nombre.gsub("'","\\'")) %></h3>' +
							'<div class="uk-accordion-content">' +
								'<div class="uk-grid uk-grid-medium uk-margin-large-bottom">' +
									'<div class="uk-width-large-1-5 uk-width-medium-1-5 uk-width-small-1-5 uk-text-center">' +
										'<img src="/persona.jpg" class="uk-border-rounded" alt="Foto Académico">' +
									'</div>' +
									'<div class="uk-width-large-4-5 uk-width-medium-4-5 uk-width-small-4-5 uk-text-left uk-text-break">' +
										'<p style="font-family:\'Gotham SSm A\', \'Gotham SSm B\', Lato, sans-serif; font-size: 16px; font-weight: 700; color: #444444;margin-bottom:3px;text-align:left;" ><%= centros.key?(p.centro) ? ("CENTRO DE ESTUDIOS " + centros[p.centro]) : "" %></p>' +
										'<p style="margin-top:0;margin-bottom:0;text-align:left;"><span class="titulo-chico vino" style="font-size:22px;"><%= p.nombre %></span></p>' +
										'<div class="uk-grid uk-grid-medium uk-margin-large-bottom">' +
											'<div class="uk-width-1-2">' +
												'<p style="font-size:15px;margin-bottom:3px;text-align:left;"><span style="font-weight:700;">Correo: </span><a class="uk-link" href="mailto:<%= p.correo %>"><%= p.correo %></a></p>' +
												'<p style="font-size:15px;margin-top:0;margin-bottom:0;text-align:left;"><span style="font-weight:700;">Teléfono:</span> <span>+(52) 55 5449 3000</span></p>' +
												'<p style="font-size:15px;margin-top:3px;text-align:left;"><span style="font-weight:700;">Extensión:</span> <span><%= p.extension %></span></p>' +
											'</div>' +
											'<div class="uk-width-1-2">' +
												'<p style="font-size:15px;margin-top:0;margin-bottom:0;text-align:left;"><span style="font-weight:700;">VIAF: </span><span><%= raw(p.viaf.split(/ *\/ */)[0]) %></span></p>' +
												'<p style="font-size:15px;margin-top:0;margin-bottom:0;text-align:left;"><span style="font-weight:700;">ORCID: </span><span><%= raw(p.orcid.split(/ *\/ */)[0]) %></span></p>' +
												'<p style="font-size:15px;margin-top:0;margin-bottom:0;text-align:left;"><span style="font-weight:700;">ISNI: </span><span><%= raw(p.isni.split(/ *\/ */)[0]) %></span></p>' +
												'<p style="font-size:15px;margin-top:0;margin-bottom:0;text-align:left;"><span style="font-weight:700;">CVU-COLMEX: </span><span><%= raw(p.cvu.split(/ *\/ */)[0]) %></span></p>' +
												'<p style="font-size:15px;margin-bottom:3px;text-align:left;"><span style="font-weight:700;">Sitio web: </span><a class="uk-link" href="<%= p.sitio %>" target="_blank"><%= p.sitio.present? ? raw(p.sitio[0..20] + (p.sitio.size >= 25 ? "..." : "")) : "" %></a></p>' +
											'</div>' +
										'</div>' +
										'<h5>Temas de investigación: <span style="font-weight:300;"><%= params[:locale] == "es" ? raw(p.temas_esp) : raw(p.temas_ing) %></span></h5>' +
									'</div>' +
								'</div>' +
							'</div>';
<% end %>
prof_html = prof_html + '</div>';
$("#busqueda").html(prof_html);

var pags_html = "";
			<% @pags.times do |p| %>
				<% if p == 0 %>
					pags_html = pags_html + '<div class="numeros" style="margin:0 2px;display:inline-block;cursor:pointer;" id="sep-ant"><a class="numeros" href="<%= dir_path(params: {offset: (params[:offset].to_i - 1 < 0 ? 0 : (params[:offset].to_i - 1))}) %>" data-remote="true"><</a></div>';
				<% end %>
				pags_html = pags_html + '<div class="numeros" style="margin:0 5px;display:inline-block;cursor:pointer;"><a class="numeros" style="<%= p == params[:offset].to_i ? 'color:rgb(153, 51, 102)' : '' %>" href="<%= dir_path(params: {offset: p}) %>" data-remote="true"><%= p+1 %></a></div>';
				<% if p == @pags - 1 %>
					pags_html = pags_html + '<div class="numeros" style="margin:0 2px;display:inline-block;cursor:pointer;" id="sep-nxt"><a class="numeros" href="<%= dir_path(params: {offset: (params[:offset].to_i + 1 >= @pags ? @pags : (params[:offset].to_i + 1))}) %>" data-remote="true">></a></div>';
				<% end %>
			<% end %>
$("#separadores").html (pags_html);

	var accordion = UIkit.accordion(UIkit.$('#acordeon'));
	accordion.find('[data-wrapper]').each(function(){
		if(UIkit.$(this)[0].firstElementChild.className.indexOf("uk-active") != -1){
			accordion.toggleItem(UIkit.$(this), true, true); 
		}
	});
