<%= render 'principal/barra' %>

<%= include_gon %>

<div class="container-fluid" id="resto-cuerpo">
	<div id="cuerpo" class="principal-chica uk-block-large">

		<div class="row">
			<div class="col-xs-12">
				<span class="titulo-grande">Directorio académico</span><br>
			</div>
			<div class="col-xs-12">
				<p>Aquí podrás encontrar información general sobre la planta académica de El Colegio de México.</p>
			</div>
		</div>

		<div class="row" id="filtros-dir">
			<div class="col-xs-12">
				<h3>Buscar por orden alfabético.</h3>
			</div>
			<div class="col-xs-12" id="filtro-inic" style="text-align:center;">
			<% for i in 65..90 %>
				<span class="inics letra" id=<%= "inic_" + i.chr %> style="cursor:pointer; margin:0 3px;font-size:24px;color:#909090;" onclick=<%= "filtrarDirectorio('" + i.chr + "')" %>><%= i.chr %></span>
			<% end %>
			</div>
			<div class="col-md-4 col-xs-12 filtro center" id="filtro-nombre">
				<h3 style="display:inline-block;margin-right:8px;">Buscar por:</h3><%= text_field_tag("nombre", "", :oninput => "filtrarDirectorio();", :placeholder => "Nombre") %>
			</div>
			<div class="col-md-4 col-xs-12 center" id="filtro-linea">
				<%= text_field_tag("linea", "", :oninput => "filtrarDirectorio();", :placeholder => "Tema de investigación*") %><br>
				<p style="font-size:12px;margin-top:0;">*Los temas de investigación utilizan lenguaje libre.</p>
			</div>
			<div class="col-md-4 col-xs-12 center" id="filtro-mail">
				<%= text_field_tag("correo", "", :oninput => "filtrarDirectorio();", :placeholder => "Línea de investigación") %><br>
				<p style="font-size:12px;margin-top:0;">*Las líneas de investigación utilizan lenguaje conttrolado.</p>
			</div>
		</div>
		<div class="row" style="margin:0 auto;">
			<div class="col-xs-12 center" id="filtro-centro">
				<h3 style="display:inline-block;margin-right:8px;">Filtrar por:</h3><%= select_tag("contenido", options_for_select([["CEAA", "Asia y África"], ["CEDUA","Demográficos, Urbanos y Ambientales"], ["CEE", "Económicos"], ["CEH","Históricos"], ["CEI","Internacionales"], ["CELL", "Lingüisticos y Literarios"], ["CES","Sociológicos"]]), :include_blank => "Centro de Estudios", :onchange => "filtrarDirectorio();") %>
			</div>
		</div>

		<div class="row">
			<script type="text/javascript" src="../js/accordion.js"></script>
			<div class="col-xs-12 vino" id="frase-linea" style="text-align:center;"></div>
			<div class="col-xs-12 acordeon-premios" id="busqueda">
				<div class="uk-accordion" id="acordeon" data-uk-accordion>
				<%= construir_docentes(@ac_json) %>
				</div>
			</div>
		</div>
		<div id="separadores" style="text-align:center;margin:10px auto;">
		</div>
	</div>

<script type="text/javascript" src="../js/filtro_directorio.js"></script>
<script type="text/javascript">
	actualizarVisibleDirectorio([]);
</script>
<%= render 'principal/footer' %>
