<% if admin_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Listado de <%= params[:set] %></h1>

<table>
  <thead>
    <tr>
			<% @fields.values.each do |f| %>
			<td><%= f %></td>
			<% end %>
			<% @foto.values.each do |f| %>
			<td><%= f %>
			<% end %>
    </tr>
  </thead>

  <tbody style="font-size:14px;">
    <% @set.each do |s| %>
      <tr>
				<% @fields.keys.each do |f| %>
        <td><%= s[f.to_s] %></td>
				<% end %>
				<% @foto.keys.each do |f| %>
					<% if f.to_s == "foto" %>
						<td><%= image_tag(s.foto.url) %></td>
					<% elsif f.to_s == "imagen" %>
						<td><%= image_tag(s.imagen.url) %></td>
					<% elsif f.to_s == "icono" %>
						<td><%= image_tag(s.icono.url) %></td>	
					<% elsif f.to_s == "badge" %>
						<td><%= image_tag(s.badge.url) %></td>	
					<% elsif f.to_s == "badge_eng" %>
						<td><%= image_tag(s.badge_eng.url) %></td>	
					<% elsif f.to_s == "archivo" %>
						<td><%= link_to image_tag("documento.png"), s.archivo.url, target: "_blank" %></td>
					<% end %>
				<% end %>
				<% if false %>
        <td><%= link_to 'Show', s %></td>
        <td><%= link_to 'Edit', edit_emerito_path(s) %></td>
        <td><%= link_to 'Destroy', s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if false %>
<%= link_to 'Nuevo s', new_emerito_path %><br>
<% end %>
<%= link_to "Regresar", panel_path %>
<% end %>
