<!DOCTYPE html>
<html>
<head>
  <title>El Colegio de México, A.C.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7936112/7663952/css/fonts.css" />

</head>
<body>
	<% if params[:locale] %>
		<% if params[:locale] == "en" %>
			<% clase_en = "activo" %>
			<% clase_es = "inactivo" %>
		<% else %>
			<% clase_en = "inactivo" %>
			<% clase_es = "activo" %>
		<% end %>
	<% else %>
		<% clase_en = "inactivo" %>
		<% clase_es = "activo" %>
	<% end %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" id="barra_nav">
				<ul> <!-- Lista de opciones del lado izquierdo del navbar -->
			<li class="nav_opciones_idioma"><%= link_to "EN", {:controller => 'principal', :action => 'principal', :locale => 'en'}, :class => clase_en , :id => 'idioma_en' %> | <%= link_to "ES", {:controller => 'principal', :action => 'principal', :locale => 'sp'}, :class => clase_es , :id=> 'idioma_sp' %></li>
			<li class="nav_opciones_mail"><%= t('navbar.mail') %></li>
			<li class="nav_opciones_intranet"><%= t('navbar.intranet') %></li>
	
		</ul> <!-- Cierre de lista de opciones del lado izquierdo del navbar -->
			</div> <!-- Cierre de div columnas barra_nav -->
		</div> <!-- Cierre de div row barra nav -->

		<%= yield %>

	</div> <!-- Cierre del container-fluid -->
</body>
</html>
